

@import '../../../_common/styles/common.scss';



.frame1 {
	opacity: 1;
	.bg{
		transform-origin: 25% 50%;
		// opacity:0;
		@include pos-scale(-320, -50, 0.50);
		@include pos-scale(-460, -50, 0.55);
		// @include pos-scale(-364, -45, 0.5);
		// @include pos-scale(-728, -45, 0.5);
	}
	.swoosh{
		@include pos-scale(0, 0, .5);
		clip: rect(0px,1226px,200px,1226px);
		// clip: rect(0px,1306px,180px,1006px);
		
	}
	.t1a{
		@include pos-scale(0, 0, .5);
		clip: rect(0px,486px,200px,0px);
		// clip: rect(0px,986px,200px,0px);
		// clip: rect(0px,1196px,200px,0px);
		// clip: rect(0px,868px,180px,0px);
		// clip: rect(0px,1038px,180px,0px);
		// clip: rect(0px,1288px,180px,0px);
	}
}

.frame2 {
	// opacity:1;
	.t4{
		// @include pos-scale(-23, -23, .58);
	}
}



#banner{
	font-size: 20px;
	color: #333;
	width: 640px;
	height: 100px;
}


#legalBtn{	
	@include pos(7, 60);
	// opacity: 1
}
